@model UserCreateModel

<div class="form-group">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label asp-for="Username"></label>
    <input class="form-control" asp-for="Username" />
    <span asp-validation-for="Username"></span>
</div>